/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;700&display=swap');



/* Shared css */

body{
    background-color: #fefefe;
    color: #3a3a3a;
    font-family: 'Roboto Mono', monospace;

}


.btn-primary {
    background-color: #E02C6D;
    color: #ffffff;
    height: 44px;
    width: 196px;
    border-radius: 30px;
    border: none;
}







/* Nav sectin */

.section-title{
    display: flex;
    justify-content: space-around;

}

.section-title>ul{

    display: flex;
    

}

.section-title ul li{
    margin-right: 20px;
    list-style: none;
}

.section-title ul li a{

    text-decoration: none;
    font-weight: 200;
    color: black;
}

.section-title h3{
    font-weight: 300;
}





/* Display section */

.first-display-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.first-display-content{
  
    padding-left: 175px;
    padding-top: 65px;
    
}


.first-display-content h1{
    
    width: 570px;
    font-weight: 700;
    font-size: 35px;
}


.first-display-content p{
    
    width: 520px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
}


.first-display-images{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 75px;
    
}


.first-display-images .image1 {
    position: relative;
    top: 0;
    left: 0;
}

.first-display-images .image2 {
    position: absolute;
    top: 0;
    left: 0;
}

.first-display-images img{
    max-width: 75%;
}


/* Product style */

.product-section{
    margin-top: 75px;
    height: 100%;
    width: 100%;
}



.product-section-title {
    margin: auto;
    width: 50%;
    text-align: center;
}

.product-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
    justify-items: center;

    /* grid-template-columns: repeat(3, 3fr); */
    
}

.product-card-container .product-card{


    width: 310px;
    height: 475px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    padding: 20px 0px 20px 10px;
    justify-items: center;

}

.product-card h5{
    
    font-weight: 700;
    font-size: 21px;
}

.product-card img{
    width: 300px;
    height: 255px;
}

.product-card p {
    font-size: 18px;
    font-weight: 400;
}

.fa-solid{
    color: #fb8200;
    font-size: 10px;
    padding-bottom: 2px;
}